<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<p-panel #pnl header="Product list">
  <!--Filter (search panel)-->
  <div class="grid grid-cols-12 gap-4 mb-4">
    <div class="col-span-12 md:col-span-4 flex items-end">
      <button
        (click)="showAddModal()"
        pButton
        type="button"
        icon="fa fa-plus"
        iconPos="left"
        label="Create new"
      ></button>
    </div>

    <div class="col-span-12 md:col-span-8">
      <div class="flex flex-wrap md:justify-end items-end gap-3">
        <div class="flex flex-col">
          <label for="txt-keyword" class="mb-2">Keyword</label>
          <input
            id="txt-keyword"
            pInputText
            type="text"
            [(ngModel)]="keyword"
            placeholder="Input keyword"
          />
        </div>

        <div class="flex flex-col">
          <label class="mb-2">Category</label>
          <p-select
            [options]="productCategories"
            [(ngModel)]="categoryId"
            optionLabel="label"
            optionValue="value"
            placeholder="Choose category"
            autoWidth="false"
            [style]="{ width: '150px' }"
          ></p-select>
        </div>

        <div class="flex items-end">
          <button
            type="button"
            pButton
            (click)="loadData()"
            icon="fa fa-search"
            iconPos="left"
            label="Search"
          ></button>
        </div>
      </div>
    </div>
  </div>

  <!--Table-->
  <p-table [value]="items">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>SKU</th>
        <th>Name</th>
        <th>Product Type</th>
        <th>Category Id</th>
        <th>Order</th>
        <th>Visibility</th>
        <th>Is Active</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.code }}</td>
        <td>{{ row.sku }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.productType }}</td>
        <td>{{ row.categoryId }}</td>
        <td>{{ row.sortOrder }}</td>
        <td>{{ row.visibility }}</td>
        <td>{{ row.isActive }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div style="text-align: left">Total Records: {{ totalCount }}</div>
    </ng-template>
  </p-table>
  <!--Paginator-->
  <p-paginator
    [rows]="maxResultCount"
    [totalRecords]="totalCount"
    (onPageChange)="pageChanged($event)"
    [rowsPerPageOptions]="[10, 20, 30, 50, 100]"
  ></p-paginator>
  <!--Block UI-->
  <p-blockui [blocked]="blockedPanel" [target]="pnl">
    <div class="flex justify-center items-center h-full w-full">
      <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
    </div>
  </p-blockui>
</p-panel>
