<!-- eslint-disable @angular-eslint/template/prefer-control-flow -->
<form [formGroup]="form" skipValidation (ngSubmit)="saveChange()">
  <p-panel #pnl>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12">
        <label class="block" for="newPassword">New password <span class="required">*</span></label>
        <input
          id="newPassword"
          type="password"
          pInputText
          formControlName="newPassword"
          class="w-full"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="newPassword"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="col-span-12">
        <label class="block" for="confirmNewPassword"
          >Confirm new password <span class="required">*</span></label
        >
        <input
          id="confirmNewPassword"
          type="password"
          pInputText
          formControlName="confirmNewPassword"
          class="w-full"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="confirmNewPassword"
          [validationMessages]="validationMessages"
        ></app-validation-message>

        <small
          *ngIf="form.errors?.['notmatched'] && form.get('confirmNewPassword')?.touched"
          class="text-red-500"
        >
          Confirm password does not match password
        </small>
      </div>
    </div>

    <ng-template pTemplate="footer">
      <div class="flex justify-end">
        <button
          [disabled]="!form.valid || btnDisabled"
          type="submit"
          pButton
          icon="fa fa-save"
          iconPos="left"
        >
          {{ saveBtnName }}
        </button>
      </div>
    </ng-template>

    <!--Block UI-->
    <p-blockui [blocked]="blockedPanel" [target]="pnl">
      @if (blockedPanel) {
        <div class="flex justify-center items-center h-full w-full">
          <p-progress-spinner ariaLabel="loading"></p-progress-spinner>
        </div>
      }
    </p-blockui>
  </p-panel>
</form>
